*{
    margin: 0em;
    padding:0em;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

/*Nav bar*/
.bg-custom { 
    background-color: #84ceeb;
}

.navbar-brand img {
    margin-left: 3.5em;
    height: 3.3em;
}

.nav-item { 
    font-size: large;
    font-weight: bold; 
    letter-spacing: 0.1em;
    margin-right: 1.5em;
}

.navbar-nav .nav-item a:hover{
    border-radius: 0.5em;
    padding: 0.6em;
    background-color: #5680e9;
    color: #c1c8e4;
}


/*Left column*/
.col-md-7{
    background-color: #8860d0;
}

p{
    font-size: medium;
    color: #c1c8e4;
    text-indent: 1.5em;

}
/* Right column*/
.col-md-5 {
    background-color: #5680e9; 
}

/*Title and bar*/
h2{
    padding-top: 2em;
    color:#c1c8e4 ;
    text-align: center;
    letter-spacing: 0.1em;
}
h3{
    padding-top: 2em;
    text-align: center;
    margin-left: 0.5em;
}

.border{
    width: 9em;
    height: 1em;
    background:#c1c8e4;
    margin: 0.7em auto;
}

/*Login format*/
.login-form label{
    font-weight: bold;
    color:#c1c8e4;
    letter-spacing: 0.2em;
} 
.fa-lock{
    margin-right: 0.5em;
    color: #c1c8e4;
}
.fa-user{
    margin-right: 0.5em;
    color: #c1c8e4;
}

/*Login button*/
#login-btn2{
    float: right;
    border: 0;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: #fff;
    color: #8860d0;
    padding: .75em 3em;
    cursor: pointer;
    transition: 0.5s;
}

#bookAclass-btn{
    float: right;
    border: 0;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: #fff;
    color: #8860d0;
    padding: .75em 3em;
    cursor: pointer;
    transition: 0.5s;
}
#bookAclass-btn:hover{
    background: #84ceeb;
}

#login-btn2:hover{
    background: #84ceeb;
}

/*Footer*/
footer{
    color: #8860d0;
    background-color: #84ceeb;
    padding: 0.5em;
}

.col-md-4{
    padding: .25em;
}
.col-md-4 a{ 
    color: #8860d0;
    font-size: x-large;
    margin-right: 1em;
}
.col-md-4 a:hover{ 
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #5680e9;
 }

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
#sidebar-toggle{
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color:  #84ceeb;
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0em 1em;
}

.sidebar-menu {
    padding: 2em;
}

.sidebar li{
    margin-bottom:1.5em;
}

.sidebar a {
    
    color: #fff;
}

.sidebar a:hover{
    text-decoration: none;
    list-style-type: none;
}

.sidebar a span:last-child{
    padding-left: 0.6em;
}

#sidebar-toggle:checked ~ .sidebar{
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
 }

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
 }

#sidebar-toggle:checked ~ .main-content{
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header{
    left: 60px;
}

.main-content{
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header {
    position: fixed;
    left:0;
    top: 0;
    width: calc(100% -240px);
    z-index:100;
    background: #fff;
    height:60px;
    padding:0em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

main {
    width: 100%;
    height: 100%;
    background: #f1f5f9;
    padding: 1em;
}

.dash-title {
    color: #000;
    margin-bottom: 1em;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4em;
    margin-left: 1em;
}

.card-single {
    background: #fff;
    border-radius: 7px;
    margin-bottom: 0.5em;
}

.card-body span {
    font-size: 2em;
}

.card-footer a:hover{
    padding:0.5em;
    background-color: #8860d0;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    border-radius: 1em;
}

.activity-card {
    background: #fff;
    border-radius: 7px;
}

.activity-card thead {
    background: #8860d0;
    color: #fff;
    text-align: center;
    font-size: 1em;
}
 
.activity-card table{
    width:100%;
}

th, td {
    font-size: 1em;
    padding: .6em;
    text-align: center;
    
}

@media only screen and (max-width: 1200px) {
    
    .sidebar{
        width: 60px;
        z-index: 150;
    }
    
    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
     }
    
    .sidebar .sidebar-header,
    .sidebar li {
        display: flex;
        justify-content: center;
     }
    
     .main-content{
        margin-left: 60px;
    }
    
    .main-content header{
        left: 60px;
        width: calc(100% - 60px);
    }

    #sidebar-toggle:checked ~ .sidebar{
        width: 240px;
    }
    
    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
     }
    
    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
     }


    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
     } 
    
    #sidebar-toggle:checked ~ .main-content{
        margin-left: 60px;
        width: auto;
    }
    
    #sidebar-toggle:checked ~ .main-content header{
        left: 60px;
    }
    
}

@media only screen and (max-width: 860px) {
    .activity-grid{
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}
@media only screen and (max-width: 450px) {
    main {
        padding-left: 1em;
        padding-right: 1em;
    }
    
}