*{
    margin: 0em;
    padding:0em;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
 
}

/*Nav bar*/
.bg-custom { 
    background-color: #84ceeb;
}

.navbar-brand img {
    margin-left: 3.5em;
    height: 3.3em;
}

.nav-item { 
    font-size: large;
    font-weight: bold; 
    letter-spacing: 0.1em;
    margin-right: 1.5em;
}

.navbar-nav .nav-item a:hover{
    border-radius: 0.5em;
    padding: 0.6em;
    background-color: #5680e9;
    color: #c1c8e4;
}


/* Contact*/
.contact-form{
    max-width: 20em;
    margin: auto;
    padding: 0 2em;
    overflow: hidden;
}

.contact-form input{
    max-width: 100%;
    margin: 0.5em 5em, auto;
    display: block;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    outline: none;
    color: #111;
}

.contact-form input:focus{
    box-shadow: 0em 0em 0.02em 0.02em #8860d0;
}

.contact-form label{
    display: block;
    margin:auto ;
}  

#message{
    height: 7em;
    width: 100%;
    margin:auto;
    display: block;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    outline: none;
}

#btn{
    float: right;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: #84ceeb;
    color: #fff;
    padding: .5em 2em;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover{
    background: #2980b9;
}

/* End Contact*/


/*Footer*/

footer {
    color: #8860d0;
    background-color: #84ceeb;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.col-md-4 {
    padding: .25em;
}

.col-md-4 a {
    color: #8860d0;
    font-size: x-large;
    margin-right: 1em;
}

.col-md-4 a:hover {
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: #5680e9;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}